{% extends "main.html" %}

{% block title %}{{page.title}}{% endblock %}

{% block content %}
  {{ super() }}
  <div>
    {{ page.content }}
  </div>

  {% block main_news %}
  <style type="text/css">
    .headerlink, .elementid-permalink {
      visibility: hidden;
    }
    h2:hover > .headerlink, h3:hover > .headerlink, h1:hover > .headerlink, h6:hover > .headerlink, h4:hover > .headerlink, h5:hover > .headerlink, dt:hover > .elementid-permalink {
      visibility: visible
    }
  </style>
  <div>
    {% for article in (articles | selectattr("category", "equalto", "main_news")|list) %}
    <h2 id="{{article.slug}}">
      {{article.locale_date|title}} - {{article.title}}
      <a class="headerlink" href="#{{article.slug}}" title="Permanent link">¶</a>
    </h2>
    {{article.content}}
    {% endfor %}
  </div>
  {% endblock main_news %}

  {% block asfboiler %}
  <div>{% macro markdown() %}{% include "_asf.md" %}{% endmacro %}</div>
  {% endblock %}
{% endblock content %}
