<div class="row">
  <div class="small-6 medium-3 columns">
    <h4>Features</h4>
    <ul>
      <li><a href="/features.html">Overview</a></li>
      <li><a href="/features.html#data-handling">Data Handling</a></li>
      <li><a href="/features.html#query">Querying</a></li>
      <li><a href="/features.html#facets">Faceting</a></li>
      <li><a href="/features.html#discovery">Discovery</a></li>
      <li><a href="/features.html#plugins">Plugins and Extensions</a></li>
      <li><a href="/features.html#stats">Statistics and Aggregations</a></li>
      <li><a href="/features.html#spatial">Spatial</a></li>
      <li><a href="/features.html#rich-content">Rich Content</a></li>
      <li><a href="/features.html#performance">Performance</a></li>
      <li><a href="/features.html#solrcloud">Scaling with SolrCloud</a></li>
      <li><a href="/features.html#admin-ui">User Interface</a></li>
    </ul>
  </div>
  <div class="small-6 medium-3 columns">
    <h4>Resources</h4>
    <ul>
      <li><a href="/resources.html#tutorials">Tutorial</a></li>
      <li><a href="/resources.html#documentation">Docs</a></li>
      <li><a href="/resources.html#solr-books">Books</a></li>
      <li><a href="/resources.html#presentations">Presentations</a></li>
      <li><a href="/resources.html#videos">Videos</a></li>
      <li><a href="/logos-and-assets.html">Solr Logos and Assets</a></li>
      <li><a href="/editing-website.html">Editing this Website</a></li>
      <br/>
      <li><a href="https://www.apache.org/">Apache Software Foundation</a></li>
      <li><a href="https://www.apache.org/foundation/thanks.html">Thanks</a></li>
      <li><a href="https://www.apache.org/foundation/sponsorship.html">Sponsorship</a></li>
      <li><a href="https://www.apache.org/security/">Security</a></li>
      <li><a href="https://www.apache.org/licenses/">License</a></li>
    </ul>
  </div>
  <div class="small-6 medium-3 columns">
    <h4>Get Started</h4>
    <ul>
      <li><a href="/downloads.html">Download</a></li>
      <li><a href="/guide/solr-tutorial.html">Run Through the Tutorial</a></li>
      <li><a href="/resources.html">Level Up</a></li>
    </ul>
    <br/>
    <h4>Community</h4>
    <ul>
      <li><a href="/community.html#support">Support</a></li>
      <li><a href="/community.html#mailing-lists-irc">Mailing Lists</a></li>
      <li><a href="/community.html#issue-tracker">Issues (JIRA)</a></li>
      <li><a href="/community.html#how-to-contribute">Contribute</a></li>
      <li><a href="/community.html#version-control">Version control (GIT)</a></li>
    </ul>
  </div>
  <div class="small-6 medium-3 columns">
    <h4>Related Projects</h4>
    <ul>
      <li><a href="http://lucene.apache.org/">Apache Lucene</a></li>
      <li><a href="http://zookeeper.apache.org/">Apache Zookeeper</a></li>
      <li><a href="http://tika.apache.org/">Apache Tika</a></li>
      <li><a href="http://manifoldcf.apache.org/">Apache ManifoldCF</a></li>
      <li><a href="http://spark.apache.org/">Apache Spark</a></li>
      <li><a href="http://nutch.apache.org/">Apache Nutch</a></li>
      <li><a href="http://zeppelin.apache.org/">Apache Zeppelin</a></li>
      <li><a href="http://opennlp.apache.org/">Apache OpenNLP</a></li>
    </ul>
  </div>
</div>
<div class="row copyright">
  {% include "_copyright.html" %}
</div>
