/* Displays a post-it note at first visit only */
<div class="modal-overlay closed" id="modal-overlay"></div>

<div class="sticky-container closed" id="modal">
    <div class="sticky-outer">
      <div class="sticky">
        <svg width="0" height="0">
          <defs>
            <clipPath id="stickyClip" clipPathUnits="objectBoundingBox">
              <path
                d="M 0 0 Q 0 0.69, 0.03 0.96 0.03 0.96, 1 0.96 Q 0.96 0.69, 0.96 0 0.96 0, 0 0"
                stroke-linejoin="round"
                stroke-linecap="square"
              />
            </clipPath>
          </defs>
        </svg>
        <div class="sticky-content">
          <button class="close-button" id="close-button">X</button>
          <div><h1>Solr has a new home!</h1></div>
          <div class="break"></div>
          <div>
            Solr is now an independent Apache project here at <b>solr.apache.org</b>.
            Please update your links. <a href="/news.html#apache-solr-becomes-an-apache-tlp" id="news-link">Read more about what it means for you</a>.
          </div>
        </div>
      </div>
    </div>
</div>

<button id="open-button" class="open-button">Open Button</button>

<script>
  /* Cookie enabling functions. Thanks to Peter-Paul Koch for the code examples
     at https://www.quirksmode.org/js/cookies.html
     Copyright granted https://www.quirksmode.org/about/copyright.html
  */
  function createCookie(name,value,days) {
    if (days) {
      var date = new Date();
      date.setTime(date.getTime()+(days*24*60*60*1000));
      var expires = "; expires="+date.toGMTString();
    }
    else var expires = "";
    document.cookie = name+"="+value+expires+"; path=/";
  }

  function readCookie(name) {
    var nameEQ = name + "=";
    var ca = document.cookie.split(';');
    for(var i=0;i < ca.length;i++) {
      var c = ca[i];
      while (c.charAt(0)==' ') c = c.substring(1,c.length);
      if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
    }
    return null;
  }

  function eraseCookie(name) {
    createCookie(name,"",-1);
  }
</script>

<script>
  /* Script code to handle sticky note and modality */
  var modal = document.querySelector("#modal");
  var modalOverlay = document.querySelector("#modal-overlay");
  var closeButton = document.querySelector("#close-button");
  var linkText = document.querySelector("#news-link");

  closeButton.addEventListener("click", function() {
    modal.classList.toggle("closed");
    modalOverlay.classList.toggle("closed");
  });

  linkText.addEventListener("click", function() {
    modal.classList.toggle("closed");
    modalOverlay.classList.toggle("closed");
  });

  // Open modal box on first visit only
  if (readCookie("alreadyVisited") == null) {
    createCookie("alreadyVisited", "yes", 30000)
    modal.classList.toggle("closed");
    modalOverlay.classList.toggle("closed");
  }
</script>
