<dd><a href="{{ SITEURL }}/posts.html"{% if subnav_selected == 'all' %} class="selected"{% endif %}>All News</a></dd>
<dd><a href="{{ SITEURL }}/security-news.html"{% if subnav_selected == 'security' %} class="selected"{% endif %}>Security News</a></dd>
<dd><a href="{{ SITEURL }}/blog.html"{% if subnav_selected == 'blog' %} class="selected"{% endif %}>Blog</a></dd>
<dd><a href="{{ SITEURL }}/news.html"{% if subnav_selected == 'announcements' %} class="selected"{% endif %}>Announcements</a></dd>
