{% extends "page.html" %}

{% block content_inner %}
<div class="small-12 columns">
  <style type="text/css">
    .headerlink, .elementid-permalink {
      visibility: hidden;
    }
    h2:hover > .headerlink, h3:hover > .headerlink, h1:hover > .headerlink, h6:hover > .headerlink, h4:hover > .headerlink, h5:hover > .headerlink, dt:hover > .elementid-permalink {
      visibility: visible
    }
  </style>

  <h1 id="solr-downloads">{{ page.title }}
    <a class="headerlink" href="#solr-downloads" title="Permanent link">¶</a>
  </h1>
  {{ page.content }}
  <h2 id="solr-{{ SOLR_LATEST_RELEASE | replace(".", "") }}">Solr {{ SOLR_LATEST_RELEASE }}
    <a class="headerlink" href="#solr-{{ SOLR_LATEST_RELEASE | replace(".", "") }}" title="Permanent link">¶</a>
  </h2>

  <p>Solr {{ SOLR_LATEST_RELEASE }} is the most recent Apache Solr release.</p>

  <ul>
    <li>Source release:
      <a href="https://www.apache.org/dyn/closer.lua/lucene/solr/{{ SOLR_LATEST_RELEASE }}/solr-{{ SOLR_LATEST_RELEASE }}-src.tgz">solr-{{ SOLR_LATEST_RELEASE }}-src.tgz</a>
      [<a href="https://downloads.apache.org/lucene/solr/{{ SOLR_LATEST_RELEASE }}/solr-{{ SOLR_LATEST_RELEASE }}-src.tgz.asc">PGP</a>]
      [<a href="https://downloads.apache.org/lucene/solr/{{ SOLR_LATEST_RELEASE }}/solr-{{ SOLR_LATEST_RELEASE }}-src.tgz.sha512">SHA512</a>]
    </li>

    <li>Binary releases:
      <a href="https://www.apache.org/dyn/closer.lua/lucene/solr/{{ SOLR_LATEST_RELEASE }}/solr-{{ SOLR_LATEST_RELEASE }}.tgz">solr-{{ SOLR_LATEST_RELEASE }}.tgz</a>
      [<a href="https://downloads.apache.org/lucene/solr/{{ SOLR_LATEST_RELEASE }}/solr-{{ SOLR_LATEST_RELEASE }}.tgz.asc">PGP</a>]
      [<a href="https://downloads.apache.org/lucene/solr/{{ SOLR_LATEST_RELEASE }}/solr-{{ SOLR_LATEST_RELEASE }}.tgz.sha512">SHA512</a>]
      /
      <a href="https://www.apache.org/dyn/closer.lua/lucene/solr/{{ SOLR_LATEST_RELEASE }}/solr-{{ SOLR_LATEST_RELEASE }}.zip">solr-{{ SOLR_LATEST_RELEASE }}.zip</a>
      [<a href="https://downloads.apache.org/lucene/solr/{{ SOLR_LATEST_RELEASE }}/solr-{{ SOLR_LATEST_RELEASE }}.zip.asc">PGP</a>]
      [<a href="https://downloads.apache.org/lucene/solr/{{ SOLR_LATEST_RELEASE }}/solr-{{ SOLR_LATEST_RELEASE }}.zip.sha512">SHA512</a>]
    </li>

    <li><a href="{{ SITEURL }}/{{ SOLR_LATEST_RELEASE | replace(".", "_") }}/changes/Changes.html">Change log</a></li>
  </ul>

  <h3 id="solr-{{ SOLR_PREVIOUS_MAJOR_RELEASE | replace(".", "") }}">Solr {{ SOLR_PREVIOUS_MAJOR_RELEASE }}
    <a class="headerlink" href="#solr-{{ SOLR_PREVIOUS_MAJOR_RELEASE | replace(".", "") }}" title="Permanent link">¶</a>
  </h3>

  <p>Solr {{ SOLR_PREVIOUS_MAJOR_RELEASE }} is the last release in the {{ SOLR_PREVIOUS_MAJOR_RELEASE.split('.') | first }}.x series.</p>

  <ul>
    <li>Source release:
      <a href="https://www.apache.org/dyn/closer.lua/lucene/solr/{{ SOLR_PREVIOUS_MAJOR_RELEASE }}/solr-{{ SOLR_PREVIOUS_MAJOR_RELEASE }}-src.tgz">solr-{{ SOLR_PREVIOUS_MAJOR_RELEASE }}-src.tgz</a>
      [<a href="https://downloads.apache.org/lucene/solr/{{ SOLR_PREVIOUS_MAJOR_RELEASE }}/solr-{{ SOLR_PREVIOUS_MAJOR_RELEASE }}-src.tgz.asc">PGP</a>]
      [<a href="https://downloads.apache.org/lucene/solr/{{ SOLR_PREVIOUS_MAJOR_RELEASE }}/solr-{{ SOLR_PREVIOUS_MAJOR_RELEASE }}-src.tgz.sha512">SHA512</a>]
    </li>

    <li>Binary releases:
      <a href="https://www.apache.org/dyn/closer.lua/lucene/solr/{{ SOLR_PREVIOUS_MAJOR_RELEASE }}/solr-{{ SOLR_PREVIOUS_MAJOR_RELEASE }}.tgz">solr-{{ SOLR_PREVIOUS_MAJOR_RELEASE }}.tgz</a>
      [<a href="https://downloads.apache.org/lucene/solr/{{ SOLR_PREVIOUS_MAJOR_RELEASE }}/solr-{{ SOLR_PREVIOUS_MAJOR_RELEASE }}.tgz.asc">PGP</a>]
      [<a href="https://downloads.apache.org/lucene/solr/{{ SOLR_PREVIOUS_MAJOR_RELEASE }}/solr-{{ SOLR_PREVIOUS_MAJOR_RELEASE }}.tgz.sha512">SHA512</a>]
      /
      <a href="https://www.apache.org/dyn/closer.lua/lucene/solr/{{ SOLR_PREVIOUS_MAJOR_RELEASE }}/solr-{{ SOLR_PREVIOUS_MAJOR_RELEASE }}.zip">solr-{{ SOLR_PREVIOUS_MAJOR_RELEASE }}.zip</a>
      [<a href="https://downloads.apache.org/lucene/solr/{{ SOLR_PREVIOUS_MAJOR_RELEASE }}/solr-{{ SOLR_PREVIOUS_MAJOR_RELEASE }}.zip.asc">PGP</a>]
      [<a href="https://downloads.apache.org/lucene/solr/{{ SOLR_PREVIOUS_MAJOR_RELEASE }}/solr-{{ SOLR_PREVIOUS_MAJOR_RELEASE }}.zip.sha512">SHA512</a>]
    </li>

    <li><a href="{{ SITEURL }}/{{ SOLR_PREVIOUS_MAJOR_RELEASE | replace(".", "_") }}/changes/Changes.html">Change log</a></li>
  </ul>

  <h2 id="solr-reference-guide" class="offset">Solr Reference Guide
    <a class="headerlink" href="#solr-reference-guide" title="Permanent link">¶</a>
  </h2>

  <p>The <a href="{{ SITEURL }}/guide/">Solr Reference Guide</a> is Solr's official documentation.</p>

  <h2 id="past-versions">Past versions
    <a class="headerlink" href="#past-versions" title="Permanent link">&para;</a>
  </h2>

  <p>Archives for all past versions of Solr are available at <a href="https://archive.apache.org/dist/solr/">the Apache archives</a>. See the <a href="https://archive.apache.org/dist/lucene/solr/">Lucene archives for pre-9.0 releases</a></p>

  <h2 id="about-downloads">About downloads
    <a class="headerlink" href="#about-downloads" title="Permanent link">&para;</a>
  </h2>

  <h3 id="verify-downloads">Verify downloads
    <a class="headerlink" href="#verify-downloads" title="Permanent link">&para;</a>
  </h3>

  <p>The above release files should be verified using the PGP signatures and the <a href="https://downloads.apache.org/lucene/KEYS">project release KEYS</a>.
  See <a href="https://www.apache.org/dyn/closer.cgi#verify">verification instructions</a> for a description of using the PGP and KEYS files for verification.
  SHA checksums are also provided as alternative verification method.</p>

  <h3 id="file-names">File names
    <a class="headerlink" href="#file-names" title="Permanent link">&para;</a>
  </h3>

  <p>The <code>solr-VERSION.zip</code> or <code>solr-VERSION.tgz</code> files (where <code>VERSION</code> is the version number of
  the release, e.g. <code>{{ SOLR_LATEST_RELEASE }}</code>) contain Apache Solr, html documentation and a tutorial.</p>

  <p>The <code>solr-VERSION-src.tgz</code> file contains the full source code for that version.</p>

  <h3 id="about-versions-and-support">About versions and support
    <a class="headerlink" href="#about-versions-and-support" title="Permanent link">&para;</a>
  </h3>

  <p>Apache Solr is under active development with frequent feature releases on the current major version.
  The <strong>previous</strong> major version will see occasional critical security- or bug fixes releases.
  Older versions are considered EOL (End Of Life) and will not be further
  updated. For this reason it may also be difficult to obtain community support for EOL versions.</p>

  <p>Large changes or changes that break compatibility with existing functionality are normally only included in the
  <strong>next</strong> major version.</p>

  <table>
    <tr align=left>
      <th>Version</th>
      <th>Description</th>
    </tr>
    <tr align=left>
      <td>{{ SOLR_LATEST_RELEASE.split('.') | first }}.x</td>
      <td>Current major version for feature releases (STABLE)</td>
    </tr>
    <tr align=left>
      <td>{{ SOLR_PREVIOUS_MAJOR_RELEASE.split('.') | first }}.{{ SOLR_PREVIOUS_MAJOR_RELEASE.split('.')[1] }}.x</td>
      <td>Previous major version may sometimes receive critical bugfix releases</td>
    </tr>
    <tr align=left>
      <td>{{ SOLR_LATEST_RELEASE.split('.') | first | int + 1 }}</td>
      <td>Next major version, yet to be released (UNSTABLE)</td>
    </tr>
    <tr align=left>
      <td>&lt;{{ SOLR_PREVIOUS_MAJOR_RELEASE.split('.') | first }}.{{ SOLR_PREVIOUS_MAJOR_RELEASE.split('.')[1] }}</td>
      <td>All older versions are End Of Life (EOL)</td>
    </tr>
  </table>

  <p>For more about versions and upgrading Solr, see the
    <a href="{{ SITEURL }}/guide/solr-upgrade-notes.html">Reference Guide chapter “Upgrade Notes”</a>
    and <a href="{{ SITEURL }}/guide/solr-system-requirements.html">"System Requirements"</a>.
  </p>
</div>
{% endblock content_inner %}
