{% extends "subnav.html" %}

{% block bodyclass %}nav-news{% endblock %}
{% block subnav_header %}<style>.container { padding-top: 0; }</style>{% endblock %}
{% block subnav_nav_items %}{% set subnav_selected = 'announcements' %}{% include "_subnav_news.html" %}{% endblock %}

{% block ng_directives %}x-ng-app-root="/solr"{% endblock %}
{% block rss %}<link rel="alternate" type="application/atom+xml" title="Solr news except security news" href="/feeds/solr/news.atom.xml" />{% endblock %}

{% block content_inner %}
<div class="small-12 columns">

  <h1 id="solr-news">Solr<sup>™</sup> Announcements<a class="headerlink" href="#solr-news" title="Permanent link">¶</a></h1>
  {{page.content}}

  {% for article in (articles | selectattr("category.name", "in", ['solr/news', 'solr/security'])|list) %}
  <h2 id="{{ article.slug }}">{{ article.locale_date }}, {{ article.title }}
    <a class="headerlink" href="#{{article.slug}}" title="Permanent link">¶</a>
  </h2>
  {{article.content}}
  {% endfor %}
</div>
{% endblock content_inner %}
