{% extends "subnav.html" %}

{% block bodyclass %}nav-security{% endblock %}
{% block subnav_header %}<style>.container { padding-top: 0; }</style>{% endblock %}
{% block subnav_nav_items %}{% set subnav_selected = 'cves' %}{% include "_subnav_security.html" %}{% endblock %}

{% block ng_directives %}x-ng-app-root="/solr"{% endblock %}

{% block content_inner %}
<div class="small-12 columns">
  <h1 id="cve-status-for-dependencies">CVE Status for Dependencies<a class="headerlink" href="#cve-status-for-dependencies" title="Permanent link">¶</a></h1>
  {{ page.content }}

  <div class="vex-download">
    <a href="/solr.vex.json" class="button large" download>⬇ Download Solr VEX File (JSON)</a>
  </div>

  <h2 id="cve-table">CVE Status for Dependencies <a class="headerlink" href="#cve-table" title="Permanent link">¶</a></h2>
  <p>Below is a list of CVE vulnerabilities in Apache Solr dependencies and their applicability to Solr.
     CVEs assessed as exploitable in Solr have their own advisory on the
     <a href="{{ SITEURL }}/security-news.html">security news page</a>.</p>

  <table>
    <tr>
      <th>ID</th>
      <th>Versions</th>
      <th>JARs</th>
      <th>State</th>
      <th>Detail</th>
    </tr>
    {% for v in (vex | selectattr("analysis.state", "ne", "exploitable")) %}
    <tr>
      <td>
        {% for id in v.ids %}
          {% if id.startswith('CVE') %}<a href="https://nvd.nist.gov/vuln/detail/{{ id }}">{{ id }}</a>{% else %}{{ id }}{% endif %}
          {%- if not loop.last %}, {% endif %}
        {% endfor %}
      </td>
      <td>{{ v.versions }}</td>
      <td>
        {% for jar in v.jars %}
          {{ jar }}{% if not loop.last %}, {% endif %}
        {% endfor %}
      </td>
      <td>{{ v.analysis.state.replace('_', ' ') }}</td>
      <td>{{ sub("(https://.*?)([.;]\s)", "<a href=\"\\1\">\\1</a>\\2", v.analysis.detail) }}</td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock content_inner %}
