{% extends "subnav.html" %}

{% block subnav_title %}Vulnerability Reporting Procedure{% endblock %}
{% block subnav_nav_items %}
<dd><a href="{{ SITEURL }}/security.html">Security</a></dd>
<dd><a href="{{ SITEURL }}/security-reporting.html" class="selected">Vulnerability Reporting Procedure</a></dd>
<dd><a href="{{ SITEURL }}/security-dependency-cves.html">CVE Status for Dependencies</a></dd>
{% endblock %}

{% block content_inner %}
<div class="small-12 columns">
  {{ page.content }}
</div>
{% endblock content_inner %}
