{% extends "page.html" %}

{% block ng_directives %}x-ng-app-root="/solr"{% endblock %}
{% block rss %}
    <link rel="alternate" type="application/atom+xml" title="Solr security announce feed"
          href="/feeds/solr/security.atom.xml"/>{% endblock %}

{% block content_inner %}
    <div class="small-12 columns">
        {{ page.content }}

        <h1>CVEs assessed for Apache Solr</h1>

        <table>
            <thead>
            <tr>
                <th>CVE</th>
                <th>Title</th>
                <th>Affected Solr versions</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            {% for article in articles | sort(attribute='title') if article.category.name == 'solr/vex' %}
                <tr>
                    <td>
                        {% if article.cve is string %}
                            <a href="https://nvd.nist.gov/vuln/detail/{{ article.cve }}">{{ article.cve }}</a>
                        {% elif article.cve %}
                            {% for id in article.cve %}
                                {% if id.startswith('CVE') %}<a href="https://nvd.nist.gov/vuln/detail/{{ id }}">{{ id }}</a>{% else %}{{ id }}{% endif %}{% if not loop.last %}, {% endif %}
                            {% endfor %}
                        {% else %}
                            —
                        {% endif %}
                    </td>
                    <td>{{ article.title }}</td>
                    <td>{{ article.metadata.versions }}</td>
                    <td class="cdx-{{ article.metadata.analysis.state|replace('_', '-') }}">{{ article.metadata.analysis.state }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content_inner %}
