setuptools
pelican~=4.9.1
Markdown~=3.4
checksumdir~=1.2.0

# Pelican plugins
beautifulsoup4~=4.12.3
# Dependencies of the yaml_front_matter plugin
strictyaml~=1.7.3
# Dependencies of the vex plugin
jsonschema~=4.22.0
jsonref~=1.1.0

# Dev tools
invoke~=2.2.0
livereload~=2.6.3

# Patch for bug https://github.com/pallets/markupsafe/issues/284
markupsafe~=2.1.5
