pelican==4.7.2
Markdown>=3.3.3
checksumdir>=1.2.0
markupsafe<2.1

# Pelican plugins
mdx-include==1.4.1
beautifulsoup4>=4.9.3

# Dev tools
invoke>=1.5.0
livereload>=2.6.3

# Patch for bug https://github.com/pallets/markupsafe/issues/284
markupsafe==2.0.1
