<div class="button-green">
  <a href="{{ SITEURL }}/core/downloads.html">Download</a>
  <div class="flap top">Click to</div>
  <div class="flap bottom">Apache Lucene {{ LUCENE_LATEST_RELEASE }}</div>
</div>
<div class="download-desc">Apache Lucene {{ LUCENE_LATEST_RELEASE }}</div>
<div class="button-orange">
  <a href="{{ SITEURL }}/solr/downloads.html">Download</a>
  <div class="flap top">Click to</div>
  <div class="flap bottom">Apache Solr {{ LUCENE_LATEST_RELEASE }}</div>
</div>
<div class="download-desc">Apache Solr {{ LUCENE_LATEST_RELEASE }}</div>

<h1 id="projects">Projects<a class="headerlink" href="#projects" title="Permanent link">¶</a></h1>
<ul>
  <li><a href="{{ SITEURL }}/core/">Lucene Core (Java)</a></li>
  <li><a href="{{ SITEURL }}/solr/">Solr</a></li>
  <li><a href="{{ SITEURL }}/pylucene/">PyLucene</a></li>
  <li><a href="{{ SITEURL }}/openrelevance/">Open Relevance (Discontinued)</a></li>
</ul>

<h1 id="about">About<a class="headerlink" href="#about" title="Permanent link">¶</a></h1>
<ul>
  <li><a href="https://www.apache.org/licenses/">License</a></li>
  <li><a href="{{ SITEURL }}/whoweare.html">Who We are</a></li>
</ul>

<h1 id="events">Events<a class="headerlink" href="#events" title="Permanent link">¶</a></h1>
<ul>
  <li><a href="https://www.apache.org/events/current-event.html" target="_blank"><img src="https://www.apache.org/events/current-event-125x125.png"></a></li>
</ul>

<h1 id="asf-links">ASF links<a class="headerlink" href="#asf-links" title="Permanent link">¶</a></h1>
<ul>
  <li><a href="http://www.apache.org">Apache Software Foundation</a></li>
  <li><a href="http://www.apache.org/foundation/thanks.html">Thanks</a></li>
  <li><a href="http://www.apache.org/foundation/sponsorship.html">Become a Sponsor</a></li>
  <li><a href="http://www.apache.org/security/">Security</a></li>
</ul>

<h1 id="editing-this-site">Editing This Site<a class="headerlink" href="#editing-this-site" title="Permanent link">¶</a></h1>
<ul>
  <li><a href="site-instructions.html">Instructions</a></li>
  <li><a href="http://www.apache.org/dev/cms.html">ASF CMS</a></li>
  <li><a href="http://www.apache.org/dev/cmsref.html">ASF CMS Reference/FAQ</a></li>
  <li><a href="http://daringfireball.net/projects/markdown/syntax">Markdown</a></li>
</ul>

<h1 id="related-projects">Related Projects<a class="headerlink" href="#related-projects" title="Permanent link">¶</a></h1>
<ul>
  <li><a href="http://hadoop.apache.org">Apache Hadoop</a></li>
  <li><a href="http://manifoldcf.apache.org/">Apache ManifoldCF</a></li>
  <li><a href="http://lucenenet.apache.org/">Apache Lucene.Net</a></li>
  <li><a href="http://mahout.apache.org">Apache Mahout</a></li>
  <li><a href="http://nutch.apache.org">Apache Nutch</a></li>
  <li><a href="http://opennlp.apache.org/">Apache OpenNLP</a></li>
  <li><a href="http://tika.apache.org">Apache Tika</a></li>
  <li><a href="http://zookeeper.apache.org">Apache Zookeeper</a></li>
</ul>
