<div id="slide1" >
  <div class="callout">
    Ultra-fast Search Library and Server<br/>
  </div>
  <div class="descwrapper"><div class="description">
      Apache Lucene and Solr set the standard for search and indexing performance
    </div></div>
    <div class="mantle">
      <img alt="Apache Lucene" src="{{ SITEURL }}/theme/images/lucene/tlp/mantle-lucene-solr.png"/>
    </div>
</div>
<div id="slide2" style="display:none">
  <div class="callout">
    Proven search capabilities<br/>
  </div>
  <div class="descwrapper"><div class="description">
      Our core algorithms along with the Solr search server power applications the world over, ranging
      from mobile devices to sites like Twitter, Apple and Wikipedia.
    </div></div>
    <div class="mantle">
      <img alt="Lucene Power" src="{{ SITEURL }}/theme/images/lucene/mantle-power.png"/>
    </div>
</div>
<div id="slide3" style="display:none">
  <div class="callout">
    Large, Vibrant community
  </div>
  <div class="descwrapper"><div class="description">
      The goal of Apache Lucene and Solr is to provide world class search capabilities
    </div></div>
    <div class="mantle">
      <img alt="Apache Mahout community" src="{{ SITEURL }}/theme/images/lucene/tlp/mantle-community.png"/>
    </div>
</div>
<div id="slide4" style="display:none">
  <div class="callout">
    Apache 2.0 licensed
  </div>
  <div class="descwrapper"><div class="description">
      Apache Lucene and Solr are distributed under a commercially friendly Apache Software license
    </div></div>
    <div class="mantle">
      <img alt="Apache Software Foundation" src="{{ SITEURL }}/theme/images/lucene/mantle-asf.png"/>
    </div>
</div>
