{% extends "lucene/tlp/page.html" %}
{% block rss %}<link rel="alternate" type="application/atom+xml" title="Lucene TLP news" href="/feeds/news.atom.xml" />{% endblock %}

{% block content %}
  {{ super() }}
  <div>
    {% for article in (articles | selectattr("category.name", "eq", "news")|list) %}
    <h2 id="{{article.slug}}">
      {{article.locale_date|title}} - {{article.title}}
      <a class="headerlink" href="#{{article.slug}}" title="Permanent link">¶</a>
    </h2>
    {{article.content}}
    {% endfor %}
  </div>
{% endblock content %}
