{% extends "lucene/pylucene/page.html" %}

{% block content %}
{{ super() }}

<h1 id="news">Latest News
  <a class="headerlink" href="#news" title="Permanent link">¶</a>
</h1>

<div>
  {% for article in (articles | selectattr("category.name", "eq", "pylucene/news")|list)[:3] %}
  <h2 id="{{article.slug}}">
    {{article.locale_date|title}} - {{article.title}}
    <a class="headerlink" href="news.html#{{article.slug}}" title="Permanent link">¶</a>
  </h2>
  {{article.content}}
  {% endfor %}
</div>
<div>For all news items, see <a href="news.html">PyLucene News</a></div>

{% endblock %}
