{% extends "lucene/base.html" %}

{% block headtitle %}{{page.title}}{% endblock %}

{% block css %}
<link href="{{ SITEURL }}/theme/css/lucene/pylucene.css{{ STATIC_RESOURCE_SUFFIX }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block nav_items %}
<li><a href="{{ SITEURL}}/pylucene/index.html">PyLucene</a></li>
<li><a href="{{ SITEURL}}/pylucene/news.html">News</a></li>
<li><a href="{{ SITEURL}}/pylucene/jcc/index.html">JCC</a></li>
<li><a href="https://issues.apache.org/jira/browse/PYLUCENE">Issue Tracker</a></li>
<li><a href="{{ SITEURL}}/pylucene/mailing-lists.html">Mailing Lists</a></li>
<li><a class="last" href="{{ SITEURL }}/">Lucene TLP</a></li>
{% endblock %}

{% block sidebar %}
{% include "lucene/pylucene/_sidebar.html" %}
{% endblock %}

{% block content %}
<div>
  <h1 class="title">{{page.title}}</h1>
  {% if page.toc %}
  <div class="toc">
    {{ page.toc }}
  </div>
  {% endif %}
  {{page.content}}
</div>
{% endblock %}
