<script>
  $(document).foundation();
</script>
<script>
  $(document).ready(function(){
    $('.slider').slick({
      infinite: false,
      speed: 300,
      slidesToShow: 6,
      slidesToScroll: 6,
      responsive: [
        {
          breakpoint: 1024,
          settings: {
            slidesToShow: 4,
            slidesToScroll: 4,
            infinite: true
          }
        },
        {
          breakpoint: 600,
          settings: {
            slidesToShow: 3,
            slidesToScroll: 3
          }
        },
        {
          breakpoint: 480,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 2
          }
        },
        {
          breakpoint: 320,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1
          }
        }
      ],
      prevArrow: '<i class="fa fa-angle-left fa-2x slider-prev"></i>',
      nextArrow: '<i class="fa fa-angle-right fa-2x slider-next"></i>'
    });
  });
</script>
