{% extends "solr/page.html" %}

{% block ng_directives %}x-ng-app-root="/solr"{% endblock %}

{% block content_inner %}
<div class="small-12 columns">

  <style type="text/css">
.headerlink, .elementid-permalink {
  visibility: hidden;
}
          h2:hover > .headerlink, h3:hover > .headerlink, h1:hover > .headerlink, h6:hover > .headerlink, h4:hover > .headerlink, h5:hover > .headerlink, dt:hover > .elementid-permalink {
            visibility: visible
          }
  </style>
  <h1 id="solr-news">Solr<sup>™</sup> News<a class="headerlink" href="#solr-news" title="Permanent link">¶</a></h1>
  {{page.content}}

  {% for article in (articles | selectattr("category.name", "eq", "solr/news")|list)[:15] %}
  <h2 id="{{ article.slug }}" class="offset">{{ article.locale_date }}, {{ article.title }}
    <a class="headerlink" href="#{{article.slug}}" title="Permanent link">¶</a>
  </h2>
  {{article.content}}
  {% endfor %}
</div>
{% endblock content_inner %}
