{% extends "solr/subnav.html" %}

{% block subnav_title %}Resources{% endblock %}
{% block subnav_subtitle %}Find everything you need about Solr<sup>&trade;</sup> here.{% endblock %}
{% block subnav_nav_items %}
<dd><a data-scroll href="#tutorials">Tutorials</a></dd>
<dd><a data-scroll href="#documentation">Docs</a></dd>
<dd><a data-scroll href="#solr-books">Books</a></dd>
<dd><a data-scroll href="#presentations">Presentations</a></dd>
<dd><a data-scroll href="#videos">Videos</a></dd>
{% endblock %}

{% block content_inner %}
{{ page.content | replace('__DOCSLINK__', '/solr/%s/index.html' % (LUCENE_LATEST_RELEASE | replace(".", "_"))) }}
{% endblock content_inner %}
