{% extends "lucene-core/main.html" %}
{% block content %}
<div>
  <h1 class="title">{{page.title}}</h1>

  {% block core_news %}
  <style type="text/css">
    .headerlink, .elementid-permalink {
      visibility: hidden;
    }
    h2:hover > .headerlink, h3:hover > .headerlink, h1:hover > .headerlink, h6:hover > .headerlink, h4:hover > .headerlink, h5:hover > .headerlink, dt:hover > .elementid-permalink {
      visibility: visible
    }
  </style>
  <div>
    {% for article in (articles | selectattr("category.name", "eq", "core/news")|list) %}
    <h2 id="{{article.slug}}">
      {{article.locale_date|title}} - {{article.title}}
      <a class="headerlink" href="#{{article.slug}}" title="Permanent link">¶</a>
    </h2>
    {{article.content}}
    {% endfor %}
  </div>
  {% endblock core_news %}
</div>

{% endblock %}
