#
# $HeadURL: https://svn.apache.org/repos/asf/lucene/site/publish/.htaccess $
#
#

### Pre-CMS site redirects

# page renames
RedirectMatch Permanent /who.html /whoweare.html
RedirectMatch Permanent /java/docs/irc.html /core/discussion.html#irc
RedirectMatch Permanent /java/docs/mailinglists.html /core/discussion.html
RedirectMatch Permanent /java/docs/systemrequirements.html /core/systemreqs.html
RedirectMatch Permanent /java/docs/developer-resources.html /core/developer.html
RedirectMatch Permanent /solr/version_control.html /solr/versioncontrol.html
RedirectMatch Permanent /solr/issue_tracking.html https://issues.apache.org/jira/browse/SOLR

# we no longer have a TLP mail.html page use 'core' for now
RedirectMatch Permanent /mail.html /core/discussion.html

# versioned core docs
RedirectMatch Permanent /java/(\d+.*) /core/old_versioned_docs/versions/$1

# Default catch for "java" - Core is the new Java!
RedirectMatch Permanent /java/docs/(.*) /core/$1
RedirectMatch Permanent /java/(.*) /core/$1

# pylucene docs renamed
RedirectMatch Permanent /pylucene/documentation/install.html /pylucene/install.html
RedirectMatch Permanent /pylucene/documentation/readme.html /pylucene/features.html
RedirectMatch Permanent /pylucene/resources/version_control.html /pylucene/mailing-lists.html

# no page for this????
RedirectMatch Permanent /pylucene/resources/version_control.html /pylucene/

# when in doubt, assume they've moved up a dir
RedirectMatch Permanent /pylucene/documentation/(.*) /pylucene/$1
RedirectMatch Permanent /pylucene/jcc/documentation/(.*) /pylucene/jcc/$1

# this got added to the new site nav, even though it has never existed.
# faster for now to put a redirect in then to try and figure out how to fix the nav
RedirectMatch Permanent /solr/wiki.html http://wiki.apache.org/solr/


### old subprojects

# old nutch redirects
Redirect Permanent /nutch/docs/en/bot.html http://lucene.apache.org/nutch/bot.html

# hadoop graduated to TLP
RedirectMatch Permanent ^/hadoop(.*) http://hadoop.apache.org/core$1

#mahout is TLP
RedirectMatch Permanent ^/mahout(.*) http://mahout.apache.org/$1

# promote Tika to TLP
RedirectMatch Permanent ^/tika/(.*)$ http://tika.apache.org/$1 

# promote Nutch to TLP
RedirectMatch Permanent ^/nutch/(.*)$ http://nutch.apache.org/$1

# Lucy has moved to the incubator, 
# site strcuture has changed, do don't use $1 in redirect...
RedirectMatch Permanent ^/lucy/(.*)$ http://incubator.apache.org/lucy/