#
# $HeadURL: https://svn.apache.org/repos/asf/lucene/site/publish/.htaccess $
#
#

### Pre-CMS site redirects

# page renames
RedirectMatch Permanent /who.html /whoweare.html
RedirectMatch Permanent /java/docs/irc.html /core/discussion.html#irc
RedirectMatch Permanent /java/docs/mailinglists.html /core/discussion.html
RedirectMatch Permanent /java/docs/systemrequirements.html /core/systemreqs.html
RedirectMatch Permanent /java/docs/developer-resources.html /core/developer.html
RedirectMatch Permanent /solr/version_control.html /solr/versioncontrol.html
RedirectMatch Permanent /solr/mailing_lists.html /solr/discussion.html
RedirectMatch Permanent /solr/issue_tracking.html https://issues.apache.org/jira/browse/SOLR

# Legacy, unversioned Solr javadoc links
#
# for the top level overview page, send to our CMS managed overview page
RedirectMatch Permanent /solr/api$ /solr/documentation.html
RedirectMatch Permanent /solr/api/$ /solr/documentation.html
RedirectMatch Permanent /solr/api/index.html$ /solr/documentation.html
#
# Other pages can always be redirected to the "most current" released javadocs
# using "temp" instead of permanent so crawlers know that they
# might change again in the future
RedirectMatch temp /solr/api/org/(.*) /solr/4_1_0/solr-core/org/$1
RedirectMatch temp /solr/api/(.*) /solr/4_1_0/$1

# we no longer have a TLP mail.html page use 'core' for now
RedirectMatch Permanent /mail.html /core/discussion.html

# versioned core docs
# 
# these are explicit: don't put any more releases under here.
# this way newer releases redirect to core/<release>
RedirectMatch Permanent /java/2_9_0 /core/old_versioned_docs/versions/2_9_0
RedirectMatch Permanent /java/2_9_1 /core/old_versioned_docs/versions/2_9_1
RedirectMatch Permanent /java/2_9_2 /core/old_versioned_docs/versions/2_9_2
RedirectMatch Permanent /java/2_9_3 /core/old_versioned_docs/versions/2_9_3
RedirectMatch Permanent /java/2_9_4 /core/old_versioned_docs/versions/2_9_4
RedirectMatch Permanent /java/3_0_0 /core/old_versioned_docs/versions/3_0_0
RedirectMatch Permanent /java/3_0_1 /core/old_versioned_docs/versions/3_0_1
RedirectMatch Permanent /java/3_0_2 /core/old_versioned_docs/versions/3_0_2
RedirectMatch Permanent /java/3_0_3 /core/old_versioned_docs/versions/3_0_3
RedirectMatch Permanent /java/3_1_0 /core/old_versioned_docs/versions/3_1_0
RedirectMatch Permanent /java/3_2_0 /core/old_versioned_docs/versions/3_2_0
RedirectMatch Permanent /java/3_3_0 /core/old_versioned_docs/versions/3_3_0
RedirectMatch Permanent /java/3_4_0 /core/old_versioned_docs/versions/3_4_0
RedirectMatch Permanent /java/3_5_0 /core/old_versioned_docs/versions/3_5_0

# Default catch for "java" - Core is the new Java!
RedirectMatch Permanent /java/docs(.*) /core$1
RedirectMatch Permanent /java(.*) /core$1

# pylucene docs renamed
RedirectMatch Permanent /pylucene/documentation/install.html /pylucene/install.html
RedirectMatch Permanent /pylucene/documentation/readme.html /pylucene/features.html
RedirectMatch Permanent /pylucene/resources/version_control.html /pylucene/mailing-lists.html

# no page for this????
RedirectMatch Permanent /pylucene/resources/version_control.html /pylucene/

# when in doubt, assume they've moved up a dir
RedirectMatch Permanent /pylucene/documentation/(.*) /pylucene/$1
RedirectMatch Permanent /pylucene/jcc/documentation/(.*) /pylucene/jcc/$1

# this got added to the new site nav, even though it has never existed.
# faster for now to put a redirect in then to try and figure out how to fix the nav
RedirectMatch Permanent /solr/wiki.html http://wiki.apache.org/solr/


### old subprojects

# old nutch redirects
Redirect Permanent /nutch/docs/en/bot.html http://lucene.apache.org/nutch/bot.html

# hadoop graduated to TLP
RedirectMatch Permanent ^/hadoop(.*) http://hadoop.apache.org/core$1

#mahout is TLP
RedirectMatch Permanent ^/mahout(.*) http://mahout.apache.org/$1

# promote Tika to TLP
RedirectMatch Permanent ^/tika/(.*)$ http://tika.apache.org/$1 

# promote Nutch to TLP
RedirectMatch Permanent ^/nutch/(.*)$ http://nutch.apache.org/$1

# Lucy has moved, site strcuture has changed, do don't use $1 in redirect...
RedirectMatch Permanent ^/lucy/(.*)$ http://lucy.apache.org/
