<div class="row">
  <div class="small-6 medium-3 columns">
    <h4>Features</h4>
    <ul>
      <li><a href="/operator/features.html">Overview</a></li>
      <li><a href="/operator/features.html#solr-cloud">Solr Cloud</a></li>
      <li><a href="/operator/features.html#solr-metrics">Solr Metrics</a></li>
      <li><a href="/operator/features.html#solr-backup">Solr Backups</a></li>
    </ul>
  </div>
  <div class="small-6 medium-3 columns">
    <h4>Resources</h4>
    <ul>
      <li><a href="/operator/resources.html#tutorials">Tutorial</a></li>
      <li><a href="/operator/resources.html#documentation">Docs</a></li>
      <li><a href="/operator/resources.html#presentations">Presentations</a></li>
      <li><a href="/operator/resources.html#videos">Videos</a></li>
      <li><a href="/logos-and-assets.html">Solr Logos and Assets</a></li>
      <li><a href="/editing-website.html">Editing this Website</a></li>
      <br/>
      <li><a href="https://www.apache.org/">Apache Software Foundation</a></li>
      <li><a href="https://www.apache.org/foundation/thanks.html">Thanks</a></li>
      <li><a href="https://www.apache.org/foundation/sponsorship.html">Sponsorship</a></li>
      <li><a href="https://www.apache.org/security/">Security</a></li>
      <li><a href="https://www.apache.org/licenses/">License</a></li>
    </ul>
  </div>
  <div class="small-6 medium-3 columns">
    <h4>Get Started</h4>
    <ul>
      <li><a href="/operator/artifacts.html">Artifacts</a></li>
      <li><a href="/operator/resources.html#tutorials">Run Through the Tutorial</a></li>
      <li><a href="/operator/resources.html">Level Up</a></li>
    </ul>
    <br/>
    <h4>Community</h4>
    <ul>
      <li><a href="/operator/community.html#support">Support</a></li>
      <li><a href="/operator/community.html#mailing-lists-irc">Mailing Lists & Chat</a></li>
      <li><a href="/operator/community.html#issue-tracker">Issues</a></li>
      <li><a href="/operator/community.html#how-to-contribute">Contribute</a></li>
      <li><a href="/operator/community.html#version-control">Version control (GIT)</a></li>
    </ul>
  </div>
  <div class="small-6 medium-3 columns">
    <h4>Related Projects</h4>
    <ul>
      <li><a href="https://lucene.apache.org/">Apache Lucene</a></li>
      <li><a href="https://zookeeper.apache.org/">Apache Zookeeper</a></li>
      <li><a href="https://kubernetes.io/">Kubernetes</a></li>
      <li><a href="https://github.com/pravega/zookeeper-operator">The Zookeeper Operator</a></li>
      <li><a href="https://github.com/kubernetes-sigs/kubebuilder">Kubebuilder</a></li>
    </ul>
  </div>
</div>
<div class="row copyright">
  {% include "_copyright.html" %}
</div>
