{% extends "operator/page.html" %}

{% block content_inner %}
<div class="small-12 columns">
  <style type="text/css">
    .headerlink, .elementid-permalink {
      visibility: hidden;
    }
    h2:hover > .headerlink, h3:hover > .headerlink, h1:hover > .headerlink, h6:hover > .headerlink, h4:hover > .headerlink, h5:hover > .headerlink, dt:hover > .elementid-permalink {
      visibility: visible
    }
  </style>

  <h1 id="solr-downloads">{{ page.title }}
    <a class="headerlink" href="#solr-downloads" title="Permanent link">¶</a>
  </h1>
  {{ page.content }}
  <h2 id="solr-{{ SOLR_OPERATOR_LATEST_RELEASE | replace(".", "") }}">Solr Operator {{ SOLR_OPERATOR_LATEST_RELEASE }}
    <a class="headerlink" href="#solr-{{ SOLR_OPERATOR_LATEST_RELEASE | replace(".", "") }}" title="Permanent link">¶</a>
  </h2>

  <p>Solr Operator {{ SOLR_OPERATOR_LATEST_RELEASE }} is the most recent Apache Solr Operator release.</p>

  <ul>
    <li>Source release:
      <a href="https://www.apache.org/dyn/closer.lua/solr/operator/{{ SOLR_OPERATOR_LATEST_RELEASE }}/solr-operator-{{ SOLR_OPERATOR_LATEST_RELEASE }}.tgz">solr-operator-{{ SOLR_OPERATOR_LATEST_RELEASE }}.tgz</a>
      [<a href="https://downloads.apache.org/solr/operator/{{ SOLR_OPERATOR_LATEST_RELEASE }}/solr-operator-{{ SOLR_OPERATOR_LATEST_RELEASE }}.tgz.asc">PGP</a>]
      [<a href="https://downloads.apache.org/solr/operator/{{ SOLR_OPERATOR_LATEST_RELEASE }}/solr-operator-{{ SOLR_OPERATOR_LATEST_RELEASE }}.tgz.sha512">SHA512</a>]
    </li>

    <li>Docker releases:
      <a href="https://hub.docker.com/r/apache/solr-operator">apache/solr-operator</a>
    </li>

    <li>Helm Chart release:
      <a href="https://artifacthub.io/packages/helm/apache-solr/solr-operator/{{ SOLR_OPERATOR_LATEST_RELEASE  | replace("v", "") }}">Artifact Hub</a><br/>
      <i>Use <code>{{ SOLR_OPERATOR_LATEST_RELEASE  | replace("v", "") }}</code> as the version of the Helm Chart.</i>
    </li>

    <li>CRDs:
      <ul>
        <li><a href="{{ SITEURL }}/operator/downloads/crds/{{ SOLR_OPERATOR_LATEST_RELEASE }}/all.yaml">All</a></li>
        <li><a href="{{ SITEURL }}/operator/downloads/crds/{{ SOLR_OPERATOR_LATEST_RELEASE }}/solrclouds.yaml">Solr Cloud</a></li>
        <li><a href="{{ SITEURL }}/operator/downloads/crds/{{ SOLR_OPERATOR_LATEST_RELEASE }}/solrprometheusexporters.yaml">Solr Prometheus Exporter</a></li>
        <li><a href="{{ SITEURL }}/operator/downloads/crds/{{ SOLR_OPERATOR_LATEST_RELEASE }}/solrbackups.yaml">Solr Backup</a></li>
      </ul>
    </li>

    <!-- TODO: Put change log in site -->
    <li><a href="https://github.com/apache/solr-operator/releases/{{ SOLR_OPERATOR_LATEST_RELEASE }}">Change log</a></li>
  </ul>

  <h3 id="solr-{{ SOLR_OPERATOR_PREVIOUS_MAJOR_RELEASE | replace(".", "") }}">Solr Operator {{ SOLR_OPERATOR_PREVIOUS_MAJOR_RELEASE }}
    <a class="headerlink" href="#solr-{{ SOLR_OPERATOR_PREVIOUS_MAJOR_RELEASE | replace(".", "") }}" title="Permanent link">¶</a>
  </h3>

  <p>Solr Operator {{ SOLR_OPERATOR_PREVIOUS_MAJOR_RELEASE }} is the last release in the v0.{{ SOLR_OPERATOR_PREVIOUS_MAJOR_RELEASE.split(".")[1] }}.x series.</p>

  <ul>
    <li>Source release:
      <a href="https://github.com/apache/solr-operator/archive/v0.2.8.tar.gz">solr-operator-{{ SOLR_OPERATOR_PREVIOUS_MAJOR_RELEASE }}.tgz</a>
      <!-- TODO: Replace bullet point with following when v0.2.x is no longer relevant
      <a href="https://www.apache.org/dyn/closer.lua/solr/operator/{{ SOLR_OPERATOR_PREVIOUS_MAJOR_RELEASE }}/solr-operator-{{ SOLR_OPERATOR_PREVIOUS_MAJOR_RELEASE }}.tgz">solr-{{ SOLR_OPERATOR_PREVIOUS_MAJOR_RELEASE }}.tgz</a>
      [<a href="https://downloads.apache.org/solr/operator/{{ SOLR_OPERATOR_PREVIOUS_MAJOR_RELEASE }}/solr-operator-{{ SOLR_OPERATOR_PREVIOUS_MAJOR_RELEASE }}.tgz.asc">PGP</a>]
      [<a href="https://downloads.apache.org/solr/operator/{{ SOLR_OPERATOR_PREVIOUS_MAJOR_RELEASE }}/solr-operator-{{ SOLR_OPERATOR_PREVIOUS_MAJOR_RELEASE }}.tgz.sha512">SHA512</a>]
      -->
    </li>

    <!-- TODO: Change to Apache when v0.2.x is no longer relevant -->
    <li>Docker releases:
      <a href="https://hub.docker.com/r/bloomberg/solr-operator">bloomberg/solr-operator</a>
    </li>

    <li>Helm Chart release:
      <a href="https://artifacthub.io/packages/helm/apache-solr/solr-operator/{{ SOLR_OPERATOR_PREVIOUS_MAJOR_RELEASE  | replace("v", "") }}">Artifact Hub</a><br/>
      <i>Use <code>{{ SOLR_OPERATOR_PREVIOUS_MAJOR_RELEASE  | replace("v", "") }}</code> as the version of the Helm Chart.</i>
    </li>

    <li>CRDs:
      <ul>
        <li><a href="{{ SITEURL }}/operator/downloads/crds/{{ SOLR_OPERATOR_PREVIOUS_MAJOR_RELEASE }}/all.yaml">All</a></li>
        <li><a href="{{ SITEURL }}/operator/downloads/crds/{{ SOLR_OPERATOR_PREVIOUS_MAJOR_RELEASE }}/solrclouds.yaml">Solr Cloud</a></li>
        <li><a href="{{ SITEURL }}/operator/downloads/crds/{{ SOLR_OPERATOR_PREVIOUS_MAJOR_RELEASE }}/solrprometheusexporters.yaml">Solr Prometheus Exporter</a></li>
        <li><a href="{{ SITEURL }}/operator/downloads/crds/{{ SOLR_OPERATOR_PREVIOUS_MAJOR_RELEASE }}/solrbackups.yaml">Solr Backup</a></li>
      </ul>
    </li>
  </ul>

  <h2 id="past-versions">Past versions
    <a class="headerlink" href="#past-versions" title="Permanent link">&para;</a>
  </h2>

  <p>Archives for all past versions of the Solr Operator are available at <a href="https://archive.apache.org/dist/solr/operator">the Apache archives</a>. See the <a href="https://github.com/apache/solr-operator/releases">Github releases</a> for pre-v0.3.0 releases</p>

  <h2 id="about-downloads">About downloads
    <a class="headerlink" href="#about-downloads" title="Permanent link">&para;</a>
  </h2>

  <h3 id="verify-downloads">Verify downloads
    <a class="headerlink" href="#verify-downloads" title="Permanent link">&para;</a>
  </h3>

  <p>The above source release files should be verified using the PGP signatures and the <a href="https://downloads.apache.org/solr/KEYS">project release KEYS</a>.
  See <a href="https://www.apache.org/dyn/closer.cgi#verify">verification instructions</a> for a description of using the PGP and KEYS files for verification.
  SHA checksums are also provided as alternative verification method.</p>

  <h3 id="file-names">File names
    <a class="headerlink" href="#file-names" title="Permanent link">&para;</a>
  </h3>

  <p>The <code>solr-operator-VERSION.tgz</code> file contains the full source code for that version, where <code>VERSION</code> is the version number of
    the release, e.g. <code>{{ SOLR_OPERATOR_LATEST_RELEASE }}</code>.</p>

  <p>Helm Charts do not allow a <strong>v</strong> prefix in the version, so that is the only version in the Solr Operator release corpus that does not use it.</p>

  <h3 id="about-versions-and-support">About versions and support
    <a class="headerlink" href="#about-versions-and-support" title="Permanent link">&para;</a>
  </h3>

  <p>The Apache Solr Operator is under active development with frequent feature releases on the current minor version.
    It is still in the beta phase, and working towards its <code>v1.0.0</code> release.
  The <strong>previous</strong> minor version will see occasional critical security- or bug fixes releases.
  Older versions are considered EOL (End Of Life) and will not be further
  updated. For this reason it may also be difficult to obtain community support for EOL versions.</p>

  <p>Large changes or changes that break compatibility with existing functionality are normally only included in the
    <strong>next</strong> minor version.</p>

  <p>After the <code>v1.0.0</code> release, large changes that break compatibility will be reserved for major version changes.</p>

  <table>
    <tr align=left>
      <th>Version</th>
      <th>Description</th>
    </tr>
    <tr align=left>
      <td>v0.{{ SOLR_OPERATOR_LATEST_RELEASE.split('.')[1] }}.x</td>
      <td>Current minor version for feature releases (STABLE)</td>
    </tr>
    <tr align=left>
      <td>{{ SOLR_OPERATOR_PREVIOUS_MAJOR_RELEASE.split('.')[0] }}.{{ SOLR_OPERATOR_PREVIOUS_MAJOR_RELEASE.split('.')[1] }}.x</td>
      <td>Previous minor version may sometimes receive critical bugfix releases</td>
    </tr>
    <tr align=left>
      <td>v0.{{ SOLR_OPERATOR_LATEST_RELEASE.split('.')[1] | int + 1 }}</td>
      <td>Next minor version, yet to be released (UNSTABLE)</td>
    </tr>
    <tr align=left>
      <td>&lt;{{ SOLR_OPERATOR_PREVIOUS_MAJOR_RELEASE }}</td>
      <td>All older versions are End Of Life (EOL)</td>
    </tr>
  </table>

  <p>For more about versions and upgrading the Solr Operator, see the
    <a href="https://github.com/apache/solr-operator/blob/main/docs/upgrade-notes.md">Upgrade Notes page</a> in the documentation.
  </p>

  <h3>Docker Image License Information</h3>
  <p>
    The official <a href="https://hub.docker.com/r/apache/solr-operator">Solr Operator Docker image</a> contains <code>NOTICE</code> and <code>LICENSE</code> information in the <code>/etc/licenses</code> directory.
    This is different from the source release <code>LICENSE</code> and <code>NOTICE</code> files, so make sure to familiarize yourself when using the image.
  </p>
</div>
{% endblock content_inner %}
