{% extends "operator/page.html" %}

{% block ng_directives %}x-ng-app-root="/solr"{% endblock %}
{% block rss %}<link rel="alternate" type="application/atom+xml" title="Solr security announce feed" href="/feeds/solr/operator/security.atom.xml" />{% endblock %}

{% block content_inner %}
<div class="small-12 columns">
  <style type="text/css">
    .headerlink, .elementid-permalink {
      visibility: hidden;
    }
    h2:hover > .headerlink, h3:hover > .headerlink, h1:hover > .headerlink, h6:hover > .headerlink, h4:hover > .headerlink, h5:hover > .headerlink, dt:hover > .elementid-permalink {
      visibility: visible;
    }
  </style>
  <h1 id="solr-operator-news">Solr Operator<sup>™</sup> Security News<a class="headerlink" href="#solr-operator-news" title="Permanent link">¶</a></h1>
  {{page.content}}

    <table>
        <tr>
            <th width="130">CVE#</th>
            <th width="95">Date</th>
            <th>Announcement</th>
        </tr>
        {% for article in (articles | selectattr("category.name", "eq", "solr/operator/security")|list)[:15] %}
        <tr>
            <td>{% if article.cve %}<a href="https://nvd.nist.gov/vuln/detail/{{ article.cve }}">{{ article.cve }}</a>{% endif %}</td>
            <td>{{ article.date | strftime("%Y-%m-%d") }}</td>
            <td><a href="#{{ article.slug }}">{{ article.title | regex_replace('^CVE.*?: ', '') }}</a></td>
        </tr>
        {% endfor %}
    </table>

    {% for article in (articles | selectattr("category.name", "eq", "solr/operator/security")|list)[:15] %}
  <h2 id="{{ article.slug }}">{{ article.date | strftime("%Y-%m-%d") }}, {{ article.title }}
    <a class="headerlink" href="#{{article.slug}}" title="Permanent link">¶</a>
  </h2>
  {{article.content}}
  <hr/>
  {% endfor %}
</div>
{% endblock content_inner %}
