<div class="row">
  <div class="small-6 medium-3 columns">
    <h4>Features</h4>
    <ul>
      <li><a href="/mcp/features.html">Overview</a></li>
      <li><a href="/mcp/features.html#solr-cloud">Solr Cloud</a></li>
      <li><a href="/mcp/features.html#solr-metrics">Solr Metrics</a></li>
      <li><a href="/mcp/features.html#solr-backup">Solr Backups</a></li>
    </ul>
  </div>
  <div class="small-6 medium-3 columns">
    <h4>Community</h4>
    <ul>
      <li><a href="/mcp/community.html#support">Support</a></li>
      <li><a href="/mcp/community.html#mailing-lists-irc">Mailing Lists & Chat</a></li>
      <li><a href="/mcp/community.html#issue-tracker">Issues</a></li>
      <li><a href="/mcp/community.html#how-to-contribute">Contribute</a></li>
      <li><a href="/mcp/community.html#version-control">Version control (GIT)</a></li>
    </ul>
  </div>
  <div class="small-6 medium-3 columns">
    <h4>Related Projects</h4>
    <ul>
      <li><a href="https://lucene.apache.org/">Apache Lucene</a></li>
    </ul>
  </div>
</div>
<div class="row copyright">
  {% include "_copyright.html" %}
</div>
