{% extends "mcp/subnav.html" %}

{% block subnav_title %}Community{% endblock %}
{% block subnav_subtitle %}Join the active community of Solr MCP Server<sup>&trade;</sup> contributors.{% endblock %}
{% block subnav_nav_items %}
<dd><a data-scroll href="#support">Support</a></dd>
<dd><a data-scroll href="#mailing-lists-chat">Lists/Chat</a></dd>
<dd><a data-scroll href="#issue-tracker">Issues</a></dd>
<dd><a data-scroll href="#how-to-contribute">Contributing</a></dd>
<dd><a data-scroll href="#code-of-conduct">Code of Conduct</a></dd>
<dd><a data-scroll href="#version-control">Version Control</a></dd>
<dd><a data-scroll href="#powered-by">Powered By</a></dd>
{% endblock %}
