{% extends "lucene-tlp/main.html" %}

{% block title %}{{page.title}}{% endblock %}

{% block content %}
  {{ super() }}
  <div>
    {{page.content}}
  </div>

  {% block main_news %}
  <style type="text/css">
    .headerlink, .elementid-permalink {
      visibility: hidden;
    }
    h2:hover > .headerlink, h3:hover > .headerlink, h1:hover > .headerlink, h6:hover > .headerlink, h4:hover > .headerlink, h5:hover > .headerlink, dt:hover > .elementid-permalink {
      visibility: visible
    }
  </style>
  <h1 id="lucene-project-news">Lucene<span style="vertical-align: super; font-size: xx-small">TM</span> Project News
    <a class="headerlink" href="#lucenetm-project-news" title="Permanent link">¶</a>
  </h1>
  <div>
    {% for article in (articles | selectattr("category.name", "eq", "news")|list)[:15] %}
    <h2 id="{{article.slug}}">
      {{article.locale_date|title}} - {{article.title}}
      <a class="headerlink" href="#{{article.slug}}" title="Permanent link">¶</a>
    </h2>
    {{article.content}}
    {% endfor %}
  </div>
  <div>
    <h3>For more see <a href url="{{ SITEURL }}/news.html"> all Lucene<span style="vertical-align: super; font-size: xx-small">TM</span> Project News</a></h3>
  </div>
  {% endblock main_news %}

  {% block asfboiler %}
  <div>{% macro markdown() %}{% include "_asf.md" %}{% endmacro %}</div>
  {% endblock %}
{% endblock content %}
