body {
  background-color: white;
  color: black;
  font-family: "New Century Schoolbook", serif;
  font-size:13pt;
}  

a,h1,h2,h3,h4,h5,h6 {
  color: #000066;
}

#content h1,h2,h3,h4,h5,h6 {
  border-bottom: solid #990000 1px;
  font-family: "Helvetica Narrow", Arial, sans-serif;
  font-weight:normal;
}

#navigation {
  font-size:80%;
}

#navigation {
  float:right;
  color:#333333;
  background-color: #EEE;
  border: solid #DDD 1px;
  padding: 1em;
}

#footer {
  font-size:80%;
  color:#666666;
}
