<div class="button-wrapper">
  <div class="button-green">
    <a href="{{ SITEURL }}/core/downloads.html">Download</a>
    <div class="flap top">Click to</div>
    <div class="flap bottom">Apache Lucene {{ LUCENE_LATEST_RELEASE }}</div>
  </div>
  <div class="download-desc">Apache Lucene {{ LUCENE_LATEST_RELEASE }}</div>
</div>

<h1 id="resources">Resources</h1>
<ul>
  <li><a href="{{ SITEURL }}/core/discussion.html">Mailing Lists</a></li>
  <li><a href="{{ SITEURL }}/core/developer.html">Developer</a></li>
  <li><a href="{{ SITEURL }}/core/features.html">Features</a></li>
  <li><a href="{{ SITEURL }}/core/downloads.html">Releases</a></li>
  <li><a href="{{ SITEURL }}/core/systemreqs.html">System Requirements</a></li>
</ul>

<h1 id="release-docs">Release Docs</h1>
<ul>
  <li><a href="{{ SITEURL }}/core/{{ LUCENE_LATEST_RELEASE | replace(".", "_") }}/index.html">{{ LUCENE_LATEST_RELEASE}}</a></li>
</ul>

<h1 id="about">About</h1>
<ul>
  <li><a href="https://www.apache.org/licenses/">License</a></li>
  <li><a href="{{ SITEURL }}/whoweare.html">Who We are</a></li>
</ul>

<h1 id="events">Events</h1>
<ul>
  <li><a href="https://www.apache.org/events/current-event.html" target="_blank"><img src="https://www.apache.org/events/current-event-125x125.png"></a></li>
</ul>

<h1 id="asf-links">ASF links</h1>
<ul>
  <li><a href="https://www.apache.org">Apache Software Foundation</a></li>
  <li><a href="https://www.apache.org/foundation/thanks.html">Thanks</a></li>
  <li><a href="https://www.apache.org/foundation/sponsorship.html">Become a Sponsor</a></li>
  <li><a href="https://www.apache.org/security/">Security</a></li>
</ul>

<h1 id="related-projects">Related Projects</h1>
<ul>
  <li><a href="http://hadoop.apache.org">Apache Hadoop</a></li>
  <li><a href="http://manifoldcf.apache.org/">Apache ManifoldCF</a></li>
  <li><a href="http://lucenenet.apache.org/">Apache Lucene.Net</a></li>
  <li><a href="http://mahout.apache.org">Apache Mahout</a></li>
  <li><a href="http://nutch.apache.org">Apache Nutch</a></li>
  <li><a href="http://opennlp.apache.org/">Apache OpenNLP</a></li>
  <li><a href="http://tika.apache.org">Apache Tika</a></li>
  <li><a href="http://zookeeper.apache.org">Apache Zookeeper</a></li>
</ul>

<div class="status">
  <!-- No SVN anymore; TODO: how to do Git? INFRA does not have a plugin!
    <div id="svn"></div>
  -->
</div>
