<script src="/solr/lib/jquery-2.1.1.min.js"></script>
<script src="/solr/lib/foundation/scripts/modernizr.js"></script>
<script src="/solr/lib/angularjs/scripts/angular.min.js"></script>
<script src="/solr/lib/angularjs/scripts/angular-animate.min.js"></script>
<script src="/solr/lib/foundation/scripts/foundation.min.js"></script>
<script src="//cdn.jsdelivr.net/jquery.slick/1.3.7/slick.min.js"/></script>
<script src="/solr/lib/jquery.smooth-scroll.min.js"></script>
{% block javascript %}{% endblock %}
