<ul class="navigation right">
  <li>
    <a href="/solr/news.html">News</a>
  </li>
  <li>
    <a href="/solr/features.html">Features</a>
  </li>
  <li>
    <a href="/solr/resources.html">Resources</a>
  </li>
  <li class="toggle">
    <a ng-hide="toggled"  ng-click="toggle();" href="#">Search</a>
    <span class="search-box" ng-show="toggled">
      <input type="search" placeholder="Search |" />
    </span>
  </li>
  <li>
    <a class="btn" href="http://lucene.apache.org/solr/mirrors-solr-latest-redir.html">download</a>
  </li>
</ul>
