<footer>
  <div class="row">
    <div class="small-6 medium-3 columns">
      <h4>Features</h4>
      <ul>
        <li><a href="/solr/features.html">Overview</a></li>
        <li><a href="/solr/features.html#data-handling">Data Handling</a></li>
        <li><a href="/solr/features.html#query">Querying</a></li>
        <li><a href="/solr/features.html#facets">Faceting</a></li>
        <li><a href="/solr/features.html#discovery">Discovery</a></li>
        <li><a href="/solr/features.html#plugins">Plugins and Extensions</a></li>
        <li><a href="/solr/features.html#stats">Statistics and Aggregations</a></li>
        <li><a href="/solr/features.html#spatial">Spatial</a></li>
        <li><a href="/solr/features.html#rich-content">Rich Content</a></li>
        <li><a href="/solr/features.html#performance">Performance</a></li>
        <li><a href="/solr/features.html#solrcloud">Scaling with SolrCloud</a></li>
        <li><a href="/solr/features.html#admin-ui">User Interface</a></li>
      </ul>
    </div>
    <div class="small-6 medium-3 columns">
      <h4>Resources</h4>
      <ul>
        <li><a href="/solr/resources.html#tutorial">Tutorial</a></li>
        <li><a href="/solr/resources.html#documentation">Docs</a></li>
        <li><a href="/solr/resources.html#solr-books">Books</a></li>
        <li><a href="/solr/resources.html#presentations">Presentations</a></li>
        <li><a href="/solr/resources.html#videos">Videos</a></li>
        <li><a href="/solr/logos-and-assets.html">Solr Logos and Assets</a></li>
        <li><a href="/solr/downloads.html">Download Older Releases</a></li>
      </ul>
    </div>
    <div class="small-6 medium-3 columns">
      <h4>Get Started</h4>
      <ul>
        <li><a href="/solr/mirrors-solr-latest-redir.html">Download</a></li>
        <li><a href="/solr/quickstart.html">Run Through the Tutorial</a></li>
        <li><a href="/solr/resources.html">Level Up</a></li>
      </ul>
      <h4>Community</h4>
      <ul>
		<li><a href="/solr/community.html#support">Support</a></li>		  
		<li><a href="/solr/community.html#support">Mailing Lists</a></li>
		<li><a href="/solr/community.html#issue-tracker">Issues (JIRA)</a></li>		  
		<li><a href="/solr/community.html#how-to-contribute">Contribute</a></li>		  
		<li><a href="/solr/community.html#version-control">Version control (GIT)</a></li>		  
	  </ul>
    </div>
    <div class="small-6 medium-3 columns">
      <h4>Related Projects</h4>
      <ul>
        <li><a href="http://hadoop.apache.org/">Apache Hadoop</a></li>
        <li><a href="http://manifoldcf.apache.org/">Apache ManifoldCF</a></li>
        <li><a href="http://mahout.apache.org/">Apache Mahout</a></li>
        <li><a href="http://nutch.apache.org/">Apache Nutch</a></li>
        <li><a href="http://opennlp.apache.org/">Apache OpenNLP</a></li>
        <li><a href="http://tika.apache.org/">Apache Tika</a></li>
        <li><a href="http://zookeeper.apache.org/">Apache Zookeeper</a></li>
      </ul>
    </div>
  </div>
  <div class="row copyright">
    <div class="large-centered columns">
      <p>Copyright © 2017 The Apache Software Foundation, Licensed under the Apache License, Version 2.0. Privacy Policy<br/>Apache and the Apache feather logo are trademarks of The Apache Software Foundation. Apache Lucene, Apache Solr and their respective logos are trademarks of the Apache Software Foundation. Please see the Apache Trademark Policy for more information.  All non-Apache logos are the trademarks of their respective owners.</p>
    </div>
  </div>
</footer>

<script>
  $(document).foundation();
</script>
<script>
$(document).ready(function(){
    $('.slider').slick({
      infinite: false,
      speed: 300,
      slidesToShow: 6,
      slidesToScroll: 6,
      responsive: [
        {
          breakpoint: 1024,
          settings: {
            slidesToShow: 4,
            slidesToScroll: 4,
            infinite: true
          }
        },
        {
          breakpoint: 600,
          settings: {
            slidesToShow: 3,
            slidesToScroll: 3
          }
        },
        {
          breakpoint: 480,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 2
          }
        },
        {
          breakpoint: 320,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1
          }
        }
      ],
      prevArrow: '<i class="fa fa-angle-left fa-2x slider-prev"></i>',
      nextArrow: '<i class="fa fa-angle-right fa-2x slider-next"></i>'
    });
});
</script>
{% include "analytics.html" %}

