<body id="home">
<div id="wrap">
  <div id="header">
    <div id="logo">
      {% block logo %}
      <a href="http://lucene.apache.org/"><img border="0" src="images/lucene_logo_green_300.png" alt="Lucene Logo"/></a>
      {% endblock %}
    </div>
    {% include "search.html" %}
    <div id="nav">
      {% block nav %}
      <ul>
        <li><a href="./core/">Core (Java)</a></li>
        <li><a href="./solr/">Solr</a></li>
        <li><a href="./pylucene/index.html">PyLucene</a></li>
        <li><a class="last" href="./openrelevance/">Open Relevance</a></li>
      </ul>
      {% endblock %}
    </div>
    {% block slides %}
    <div id="slides">
      <div class="slideshow" id="mantleSlides">
        <div id="slide1" >
          <div class="callout">
            Ultra-fast Search Library and Server<br/>
          </div>
          <div class="descwrapper"><div class="description">
            Apache Lucene and Solr set the standard for search and indexing performance
          </div></div>
          <div class="mantle">
            <img alt="Apache Lucene" src="images/mantle-lucene-solr.png"/>
          </div>
        </div>
        <div id="slide2" style="display:none">
          <div class="callout">
            Proven search capabilities<br/>
          </div>
          <div class="descwrapper"><div class="description">
            Our core algorithms along with the Solr search server power applications the world over, ranging
            from mobile devices to sites like Twitter, Apple and Wikipedia.
          </div></div>
          <div class="mantle">
            <img alt="Lucene Power" src="images/mantle-power.png"/>
          </div>
        </div>
        <div id="slide3" style="display:none">
          <div class="callout">
            Large, Vibrant community
          </div>
          <div class="descwrapper"><div class="description">
            The goal of Apache Lucene and Solr is to provide world class search capabilities
          </div></div>
          <div class="mantle">
            <img alt="Apache Mahout community" src="images/mantle-community.png"/>
          </div>
        </div>
        <div id="slide4" style="display:none">
          <div class="callout">
            Apache 2.0 licensed
          </div>
          <div class="descwrapper"><div class="description">
            Apache Lucene and Solr are distributed under a commercially friendly Apache Software license
          </div></div>
          <div class="mantle">
            <img alt="Apache Software Foundation" src="images/mantle-asf.png"/>
          </div>
        </div>
      </div>
      <div class="controls">
        <a class="next" id="next" title="Next" href="#">Next</a>
        <a class="previous" id="previous" title="Previous" href="#">Previous</a>
        <a class="start" id="start" title="Start" href="#" style="display: none; ">Start</a>
        <a class="stop" id="stop" title="Stop" href="#">Stop</a>
      </div>
    </div>

    <script type="text/javascript">
      function StartSlides() {
        new Slides('mantleSlides');
      }
      document.observe('dom:loaded', StartSlides);
    </script>
    {% endblock %}
  </div>
  <div id="content-wrap" class="clearfix">
    <div id="main">
      <h1 class="title">{% block title %}{{ headers.title }}{% endblock %}</h1>

      <div>{% block content %}{{ content|markdown }}{% endblock %}</div>
      {% block news %}
        <div>{% filter markdown %}{% include "../content/mainnews.mdtext" %}{% endfilter %}</div>
      {% endblock news %}

      {% block asfboiler %}
      <div>{% filter markdown %}{% include "asf.mdtext" %}{% endfilter %}</div>
      {% endblock %}
    </div>
    {% block sidebar %}
    <div id="sidebar">
      {% filter markdown %}{% include "sidenav.mdtext" %}{% endfilter %}
      
    </div>
    {% endblock %}
  </div>
  {% include "footer.html" %}
</div>
{% include "analytics.html" %}
</body>
