{% block coreside %}
<div id="sidebar">
  <div class="button-wrapper">
    <div class="button-green">
      <a href="mirrors-core-latest-redir.html?">Download</a>
      <div class="flap top">Click to begin</div>
      <div class="flap bottom">of Apache Lucene 5.2.1</div>
    </div>
    <div class="download-desc">Apache Lucene 5.2.1</div>
  </div>
  {% filter markdown %}{% include "corenav.mdtext" %}{% endfilter %}
  <div class="status">
    {% if svn %}
    <div id="svn">
      <h1>Latest SVN</h1>
      <div class="status-item">
      {% for e in svn.list %}
      <div class="section-content">
        <a class="svn" href="http://svn.apache.org/viewvc?revision={{ e.revision }};view=revision">r{{ e.revision }}</a>
        {{ e.message|safe|truncatewords_html:20 }} ({{
        e.projects|safe }}) &mdash;
        <a href="http://people.apache.org/committer-index.html#{{ e.author }}">{{ e.author }}</a>
      </div>
    {% endfor %}</div></div>
    {% endif %}
    
  </div>
</div>
{% endblock %}
