{% block coreside %}
<div id="sidebar">
  <div class="button-wrapper">
    <div class="button-green">
      <a href="mirrors-core-latest-redir.html?">Download</a>
      <div class="flap top">Click to begin</div>
      <div class="flap bottom">of Apache Lucene 6.0.1</div>
    </div>
    <div class="download-desc">Apache Lucene 6.0.1</div>
  </div>
  {% filter markdown %}{% include "corenav.mdtext" %}{% endfilter %}
  <div class="status">
    <!-- No SVN anymore; TODO: how to do Git? INFRA does not have a plugin!
    <div id="svn"></div>
    -->
  </div>
</div>
{% endblock %}
