{#
 This is a work around to the fact that the CMS doesn't allow inheritance of depth
        2, so instead do a lot of includes.  See https://issues.apache.org/jira/browse/INFRA-3850
#}
{% extends "head.html" %}
{% block css %}
    <link href="../css/core.css" rel="stylesheet" type="text/css">
{% endblock %}
{% block metakeys %}<meta name="keywords"
        content="apache, apache lucene, lucene
        search, information retrieval, spell checking, faceting, inverted index, open source"/>
{% endblock %}
{% block javascript %}
<script type="text/javascript" src="../scripts/prototype.js"></script>
<script type="text/javascript" src="../scripts/effects.js"></script>
<script type="text/javascript" src="../scripts/search.js"></script>
<script type="text/javascript" src="../scripts/slides.js"></script>
{% endblock %}

{% endextends %}
{% extends "body.html" %}
{% block slides %}
  {% include "core-slides.html" %}
{% endblock %}
{% block logo %}
  {% include "core-logo.html" %}
{% endblock %}
{% block nav %}
  {% include "core-nav.html" %}
{% endblock %}

{% block news %}
<div>{% filter markdown %}{% include "../content/core/corenews.mdtext" %}{% endfilter %}</div>
{% endblock %}
{% block sidebar %}
  {% include "core-sidebar.html" %}
{% endblock %}
{% block privacy %}<a href="../privacy.html">Privacy Policy</a>{% endblock %}
{% endextends %}

