{% block solrside %}
<div id="sidebar">
  <div class="button-wrapper">
    <div class="button-orange">
     <a href="mirrors-solr-3x-redir.html?">Download</a>
      <div class="flap top">Click to begin</div>
      <div class="flap bottom">of Apache Solr 3.6.1</div>
      <div class="download-desc">Apache Solr 3.6.1</div>
    </div>
  </div>  
  <div class="button-wrapper">
    <div class="button-orange">
     <a href="mirrors-solr-latest-redir.html?">Download</a>
      <div class="flap top">Click to begin</div>
      <div class="flap bottom">of Apache Solr 4.0</div>
      <div class="download-desc">Apache Solr 4.0</div>
    </div>
  </div>  
  <span class="sidenav">{% filter markdown %}{% include "solrnav.mdtext" %}{% endfilter %}
    <div class="status">
      <div id="svn">
        <h1>Latest SVN</h1>

        {% if svn.list %}
        <div class="status-item">
          {% for e in svn.list %}
          <div class="section-content">
            <a class="svn" href="http://svn.apache.org/viewvc?revision={{ e.revision }};view=revision">r{{ e.revision }}</a>
            {{ e.message|safe|truncatewords_html:20 }} ({{ e.projects|safe }}) &mdash;
            <a href="http://people.apache.org/committer-index.html#{{ e.author }}">{{ e.author }}</a>
          </div>
          {% endfor %}
        </div>
        {% else if %}
          <div class="status-item">Not Available</div>
        {% endif %}
      </div>

      <div id="solr-twitter">
        <h1>#solr</h1>
        {% if solrtwitter.list %}
        <div class="status-item">{% for e in solrtwitter.list %}
          <div class="section-content">
             <a href="{{ e.url }}">@</a>{{ e.title|safe }}
          </div>
          {% endfor %}
        </div>
        {% else if %}
          <div class="status-item">Not Available</div>
        {% endif %}
      </div>
    </div>
  </span>
</div>{% endblock %}
