<!doctype html>
<html>

  {% extends "_solr-head.html" %}
    {% block javascript %}
    <script src="/solr/assets/scripts/main.js"></script>
    {% endblock %}
    {% block metakeys %}<meta name="keywords"
            content="apache, apache lucene, apache solr, solr, lucene
            search, information retrieval, spell checking, faceting, inverted index, open source, community"/>
    {% endblock %}
  {% endextends %}

  <body class="page subnav" x-ng-app-root="/solr" x-ng-app="page" x-ng-controller="page.controllers.main">

    {% include "_solr-header.html" %}

  <div class="container">

    <div class="row">
      <div class="small-12 text-center columns">
      	<h1>Community<br/>
   		  <small>Join the active community of Solr<sup>&trade;</sup> contributors.</small></h1>
   		</div>
   	</div>
    <div class="sub-nav-container">
      <div class="row sub-nav-border anchor-top">
        <div class="small-12 text-center columns">
          <dl class="sub-nav">
            <dd><a data-scroll href="#apache">Apache</a></dd>
            <dd><a data-scroll href="#support">Support</a></dd>
			<dd><a data-scroll href="#mailing-lists">Mailing Lists</a></dd>
            <dd><a data-scroll href="#irc">IRC</a></dd>
            <dd><a data-scroll href="#issue-tracker">Issue Tracker</a></dd>
            <dd><a data-scroll href="#how-to-contribute">How To Contribute</a></dd>
            <dd><a data-scroll href="#version-control">Version Control</a></dd>
            <dd><a data-scroll href="#powered-by">Powered By</a></dd>
          </dl>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns">
        {% block content %}
          {{ content|markdown }}
        {% endblock %}
      </div>
    </div>

	</div>
    
    {% include "_solr-footer.html" %}

  </body>
</html>
