<!doctype html>
<html>

  {% extends "_solr-head.html" %}
    {% block javascript %}
    <script src="/solr/assets/scripts/main.js"></script>
    {% endblock %}
    {% block metakeys %}<meta name="keywords"
            content="apache, apache lucene, apache solr, solr, lucene
            search, information retrieval, spell checking, faceting, inverted index, open source"/>
    {% endblock %}
  {% endextends %}

  <body class="page subnav" x-ng-app-root="/solr" x-ng-app="page" x-ng-controller="page.controllers.main">

    {% include "_solr-header.html" %}

  <div class="container">

    <div class="row">
      <div class="small-12 text-center columns">
      	<h1>Resources<br/>
   		  <small>Find everything you need about Solr here.</small></h1>
   		</div>
   	</div>
    <div class="sub-nav-container">
      <div class="row sub-nav-border anchor-top">
        <div class="small-12 text-center columns">
          <dl class="sub-nav">
            <dd><a data-scroll href="/solr/resources.html#tutorial">Tutorial</a></dd>
            <dd><a data-scroll href="#release-documentation">Docs</a></dd>
            <dd><a data-scroll href="#solr-books">Books</a></dd>
            <dd><a data-scroll href="#presentations">Presentations</a></dd>
            <dd><a data-scroll href="#videos">Videos</a></dd>
            <dd><a data-scroll href="#solr-version-control">Links</a></dd>
          </dl>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns">
        {% block content %}
          {{ content|markdown }}
        {% endblock %}
      </div>
    </div>

	</div>
    
    {% include "_solr-footer.html" %}

  </body>
</html>
