{#
 This is a work around to the fact that the CMS doesn't allow inheritance of depth
        2, so instead do a lot of includes.  See https://issues.apache.org/jira/browse/INFRA-3850
#}
<!-- solr.html -->
{% extends "head.html" %}
{% block css %}
    <link href="../css/global.css" rel="stylesheet" type="text/css">
    <link href="../css/solr.css" rel="stylesheet" type="text/css">
{% endblock %}
{% block favicon %}<link rel="shortcut icon" type="image/x-icon" href="images/solr-favicon.ico"/>{% endblock %}
{% block javascript %}
<script type="text/javascript" src="../scripts/prototype.js"></script>
<script type="text/javascript" src="../scripts/effects.js"></script>
<script type="text/javascript" src="../scripts/search.js"></script>
<script type="text/javascript" src="../scripts/slides.js"></script>
{% endblock %}
{% block metakeys %}<meta name="keywords"
        content="apache, apache lucene, apache solr, solr, lucene
        search, information retrieval, spell checking, faceting, inverted index, open source"/>
{% endblock %}
{% endextends %}
{% extends "body.html" %}
{% block logo %}
  {% include "solr-logo.html" %}
{% endblock %}
{% block slides %}
  {% include "solr-slides.html" %}
{% endblock %}
{% block nav %}
  {% include "solr-nav.html" %}
{% endblock %}

{% block news %}
<div>{% filter markdown %}{% include "../content/solr/features.mdtext" %}{% endfilter %}</div>
{% endblock %}
{% block sidebar %}
    {% include "solr-sidebar.html" %}
{% endblock %}
{% block privacy %}<a href="../privacy.html">Privacy Policy</a>{% endblock %}
{% endextends %}