{#
 This is a work around to the fact that the CMS doesn't allow inheritance of depth
        2, so instead do a lot of includes.  See https://issues.apache.org/jira/browse/INFRA-3850
#}
{% extends "head.html" %}
{% block css %}
    <link href="../css/global.css" rel="stylesheet" type="text/css">
{% endblock %}
{% block metakeys %}<meta name="keywords"
        content="apache, apache lucene, apache solr, solr, lucene
        search, information retrieval, spell checking, faceting, inverted index, open source"/>
{% endblock %}
{% endextends %}
{% extends "body.html" %}
{% block slides %}
{% endblock %}
{% block logo %}
  {% include "orp-logo.html" %}
{% endblock %}
{% block nav %}
  {% include "orp-nav.html" %}
{% endblock %}
{% block sidebar %}
  {% include "orp-sidebar.html" %}
{% endblock %}
{% block privacy %}<a href="/privacy.html">Privacy Policy</a>{% endblock %}
{% endextends %}
