<!doctype html>
<html>
  <head>
    {% include "lucene/_head.html" %}
    <title>{{ SITENAME}} - {% block headtitle %}{{ SITESUBTITLE }}{% endblock %}</title>
    {% block metakeys %}<meta name="keywords"
       content="apache, apache lucene, apache solr, solr, lucene
       search, information retrieval, spell checking, faceting, inverted index,
       open source"/>{% endblock %}
    {% block favicon %}<link rel="shortcut icon" type="image/png"
    href="{{ SITEURL }}/theme/images/lucene/lucene-favicon.png"/>{% endblock %}
    {% block css %}{% endblock %}
    {% block javascript %}{% endblock %}
  </head>
  <body id="home">
    <div id="wrap">
      <div id="header">
        {% block header %}
        <div id="logo" style="float:left">
          {% block logo %}
          <a href="{{ SITEURL }}/">
            <img border="0" src="{{ SITEURL }}/theme/images/lucene/lucene_logo_green_300.png" alt="Lucene Logo"/>
          </a>
          <div style="position:absolute;right:100px;top:10px;"><span style="vertical-align: super; font-size: xx-small">TM</span></div>
          {% endblock %}
        </div>
        {% include "lucene/_search.html" %}
        <div id="nav">
          <ul>
            {% block nav_items %}
            {% endblock %}
          </ul>
        </div>

        {% block hero_header %}
        {% endblock %}
        {% endblock header %}
      </div> <!-- End #header -->

      <div id="content-wrap" class="clearfix">
        <div id="main">
          {% block content %}
          {% endblock %}
        </div>
        <div id="sidebar">
          {% block sidebar %}
          {% endblock %}
        </div>
      </div> <!-- End #content-wrap -->

      {% include "lucene/_footer.html" %}
    </div> <!-- End #wrap -->
    {% include "_analytics.html" %}
  </body>
</html>
